*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    width: 100%;
}

body{
    display: grid;
    min-width: 100%;
    height: 100vh;
    grid-template-columns: repeat(5,20%);
    grid-template-rows: repeat(5,15%);
}

header{
    grid-area: 1/2/1/6;
    box-sizing: border-box;
    padding: 2vh 2vw;
}

header>section,header>section>div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.profile{
    margin-top: 2vh;
}

header>section>div>img{
    height: 28px;
    width: auto;
}


header>section>div>input{
    height: 4vh;
    width: 36vw;
    border-radius: 20px;
    outline: none;
    border: 0.1px solid #03001C;
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
    background-color: rgba(141, 203, 230, 0.1);
}

header>section>div>button{
    height: 5vh;
    width: 5vw;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 20px;
    background-color: #03001C;
}

nav{
    grid-area: 1/1/7/1;
    background-color: #03001C;
    color: white;
    box-sizing: border-box;
    padding: 5vh 2vw;
}

nav>strong{
    display: flex;
    align-items: center;
}

nav>ul{
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    margin: 4vh 0;
}

nav>ul>li{
    height: 5vh;
    width: 10vw;
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 18px;
}

nav>ul>li>img{
    height: 18px;
    width: auto;
    margin-right: 1vw;
}

nav>ul>li>a{
    text-decoration: none;
    color: white;
}

main{
    grid-area: 2/2/7/7;
    display: flex;
    background-color: rgba(141, 203, 230, 0.1);
}

main>section{
    width: 56vw;
    height: 85vh;
    display: grid;
    grid-template-columns: repeat(2,50%);
    grid-template-rows: repeat(3,35%);
    column-gap: 15px;
    box-sizing: border-box;
    padding: 2vh 3vw;
}

main>aside{
    width: 20vw;
    height: 60vh;
    margin-top: 2vh;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card{
    border-radius: 15px;
    height: 25vh;
    border-left: 5px solid #FFEA20;
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}